<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="page-content">
    <h1 th:text="|Hello User!|"></h1>
    <!--Todo Comment and explain the unescaped string... this one works for now-->
    <h2 th:text="|Welcome to the Spring Security Demo.|"></h2>
<!--    <h2 th:text="|Welcome to the "Spring Security Demo".|"></h2>-->
    <script>
        let d = new Date();
        alert("Today's date is " + d);
    </script>
</div>
</body>
</html>